
<mat-table [dataSource]="sales" class="mat-elevation-z8">
  <ng-container matColumnDef="timestamp">
    <mat-header-cell *matHeaderCellDef> Time </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.timestamp | date:'dd/MM/yyyy HH:mm' }} </mat-cell>
    <mat-footer-cell *matFooterCellDef> Total </mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="product">
    <mat-header-cell *matHeaderCellDef> Product Id </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.product }} </mat-cell>
    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="amount">
    <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.amount }} </mat-cell>
    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="payment">
    <mat-header-cell *matHeaderCellDef> Payment </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.payment | currency:'DKK' }} </mat-cell>
    <mat-footer-cell *matFooterCellDef> {{ getTotalCost() | currency:'DKK' }} </mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button matTooltip="Delete" mat-icon-button color="warn" (click)="deleteSale(element)">
          <mat-icon>delete</mat-icon>
        </button>
    </mat-cell>
    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="cost">
      <th mat-header-cell *matHeaderCellDef> Cost </th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.cost | currency}} </td>
      <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  <mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></mat-footer-row>
</mat-table>
