
<mat-table [dataSource]="products" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="stock">
    <mat-header-cell *matHeaderCellDef> Stock </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.stock }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.price | currency:'DKK' }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="category">
    <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.category }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button matTooltip="Purchase" mat-icon-button color="primary" class="margin-button" [disabled]="!element.active && element.stock"
              (click)="purchaseProduct(element)">
            <mat-icon>attach_money</mat-icon>
        </button>
      <button matTooltip="Edit" mat-icon-button color="accent" class="margin-button" (click)="editProduct(element)">
        <mat-icon>edit</mat-icon>
      </button>
      <button matTooltip="Delete" mat-icon-button color="warn" (click)="deleteProduct(element)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
